// {
//     "presets": ["es2015", "stage-2", "stage-3"]
// }

// {
//   "presets": ["es2015", "stage-2", "stage-3", "@babel/react", "env"],

//   "plugins": ["@babel/plugin-proposal-class-properties"]
// }

{
  "only": ["./src"]
  // "presets": [
  //   [
  //     only: ["./src"];
  //     "env",
  //     "@babel/preset-env",
  //     {
  //       "useBuiltIns": "entry",
  //       "corejs": "3.22"
  //     }
  //   ]
  // ]
}
